<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="/style.css" rel="stylesheet">
    <script type="text/javascript" src="/calender.js" defer></script>

</head>
<body>
    <div class="p-5 mb-2 text-center</> bg-light">
        <a th:onclick="|location.href='@{/Diary}'|"><h1 class="mb-3">Diary</h1></a>
    </div>

    <div id = "cal" align="center">
        <input type="text" size="2" id="year" value="2024">년
        <input type="text" size="2" id="month" value="2">월
        <input type="button" class ="btn btn-info btn-sm mb-1" value="달력확인" onclick="viewCalendar()">
    </div>

    <div id="pos" align ="center"></div>
    <hr>
    <div class = "desk" id = "desk">
        목록
        <button type="button" class ="up_text" th:onclick="|location.href='@{/newDiary}}'|">글 작성하기</button>
    </div>
    <hr>
    <div class="upload" id = "upload">
        <div calss="row-4" th:each="item : ${diaries}">
            <div class="header" th:text="${item.title}">
    </div>
        </div>
    </div>
</body>
</html>